/* CENTER HAMBURGER */
.hamburger {
    display: none;
    font-size: 32px;
    cursor: pointer;
    text-align: end;
    /*margin-left:300px;*/
    background-color: rgba(221, 225, 230, 0.073);
    
}

.navContainer{justify-content: space-between;
              display: flex;
               margin-left:40px;
               margin-right: 40px;
               align-items: center;
               margin-top: -50px;
              height:170px
}

.navbar ul{list-style:none;
          justify-content: center;
          display: flex;
        
          flex-wrap: wrap;
}

.navbar li{margin:0px;
          
}

.navbar a{color:rgb(239, 233, 233);
          font-family:sans-serif;
        text-decoration: none;
        padding:10px;
        font-size:30px;
        transition: 0.5s ease;
        font-size: larger;
        border: 1px solid rgb(255, 254, 237);
        border-radius: 5px;
        margin:10px
      
         
}
.navbar a:hover{color: rgba(29, 30, 29, 0.916);
               
}

/* DESKTOP */
@media (min-width: 769px) {
    .hamburger {
        display: none;
    }
}

/* MOBILE */
@media (max-width: 990px) {

    /* hide navbar by default */
    .navbar {
        display: none;
       
    }

    /* show hamburger */
    .hamburger {
        display: block;
        position: absolute;
        top: 30px; /* adjust if needed */
        left: 90%;
        transform: translateX(-100%);
        color:rgb(35, 36, 36);
        margin-top: -15px;
        z-index: 1000;
         top:22px;
        position: fixed;
    }

    /* mobile menu */
    .navbar.show {
        display: block;
        
        background-color:rgb(175, 168, 65);
        position: absolute; 
        top: 110px;
       
        right:5px;
        border-radius: 5px;
        border:1px solid rgba(255, 255, 255, 0.521);
        /*border: 3px solid rgba(93, 87, 87, 0.303);*/
       backdrop-filter: blur(7px) ;
        transition:2s;
        z-index: 9999;
        text-align: center;
       
        
    }
   
    .navbar ul li {
                   display: block;
                    margin: 40px 0;
                    border: 1px solid rgba(0, 0, 0, 0.585);
                    border-radius: 5px;
                    padding: 10px;
                    background-color: rgba(255, 253, 127, 0.412);
                    
         
    }

    .navbar  ul li a:hover{/* background-color: rgba(137, 43, 226, 0.155);*/
                            
   }
   .navbar ul{list-style:none;
          justify-content: center;
          display: block;
          padding: 0px;
          flex-wrap: wrap;
}

.navbar a{
        
        border:none;
        
      
         
}


}

.stick{top:-50px;
      position:sticky;
      background-color:orange;
      border-radius: 10px;
      z-index: 999;
      height:110px;

}

.logo img{width:270px;
        
          margin-left:-50px

}


.heroBannerParent{position:relative;/*make this the reference point for the textOverlay*/
                  width: 100%;
                  height:800px;
                 
}

.heroImage img{display: block;
               margin: auto;
               object-fit: cover;
               width:100%;
               height:800px;
               filter:blur(2.5px);
               filter: contrast(0.6);
             
}
.textOverlay{position: absolute;
             text-align: center;
             top:50%;/*50% down from the top the heroBanner*/
             left:50px;
             transform: translateY(-50%);
             max-width: 500px;
             text-align: left;
             color: orange;
             font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
             line-height:50px ;
             background-color: rgba(10, 115, 207, 0.737);
             border: 1px solid;
              box-shadow: 2px 2px 4px rgb(208, 206, 206);
             border-radius: 50px;
             padding: 10px;
             z-index: 2;

}
.textOverlay button{background-color: orange;
                    width:100px;
                    padding:10px;
                    margin-left:50px;
                    border-radius: 10px;
                    border:2px solid white
}
.heading1{text-align: center;
         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.parent{ 
      
        justify-content: center; 
        display: flex;
        margin-top:50px;
         border-radius: 15px;
        background-color: rgba(228, 255, 196, 0.766);

}
.part{
      background-color: rgba(163, 182, 54, 0.742);
      background-color: orange;
      padding:50px;
    border-radius: 15px;
      transition: 0.3s;
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color:white
   
}
.cleaningBanner video{
                    object-fit:cover;
                    width:100%;
                    height: 200px;
                    padding-top:50px;
                    

}


.serviceCard{border:  1px solid green;
             border-radius: 15px;
             background-color: rgba(109, 128, 0, 0.659);
             width:300px
}

.serviceCard img {width:300px;
                 height:300px;
                 border-radius: 15px;
                 transform: scale(0.9);
                 transition: 1s;
                 display: block;
                 margin:auto;
               
}

.serviceCard img:hover{transform: scale(1);

}
.serviceCard p {text-align: center;
                font-family:Arial, Helvetica, sans-serif;
                line-height: 30px;
               
                padding: 10px;
                text-align: left;
}
.serviceCard h1{text-align: center;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color: aliceblue;

}
.serviceCard{display: block;
             margin:auto

}

/*code for before the user sees the section*/
.serviceCard{opacity: 0;
            transform: translateY(50px);
            transition: 1.5s ease;
          
}
/*code for After the user sees the section*/
.show{ opacity: 1;
        transform: translateY(0);
         
}

.ServicesParent {flex-wrap: wrap;
                 display: flex;
                  gap:30px;
                 justify-self: center;
                 padding-top: 30px;
                 padding-bottom: 70px; 
                        

}
.signUpLoginParent{display:flex;
                   flex-wrap: wrap;
                   gap:30px;
                   justify-content: center;
                 
                   background-color: aliceblue;


}
.signUpLogin h3{text-align: center ;
                font-family:Verdana, Geneva, Tahoma, sans-serif

}
.signUpLogin button{background-color:orange;
                     padding:10px;
                    margin:10px;
                    width:100px;
                    border-radius: 5px;
                    border: 2px solid white;

}
.signUpLogin{
             padding: 10px;
             border-radius: 5px;
}
.signUpLogin:nth-child(1){background-color: rgba(0, 0, 0, 0.168);

}
.signUpLogin:nth-child(2){background-color: rgba(252, 87, 10, 0.433);

}
.signUpLogin:nth-child(3){background-color: rgba(252, 212, 10, 0.433);

}